.md-content {
  display: flex;
  
  .md-navigation {
    overflow: auto;
    position: fixed;
    right: 0;
    z-index: 10;
    height: calc(100vh - 50px);
    flex-basis: 180px;
    flex-shrink: 0;
    width: 180px;
  }

  .md-main {
    padding: 0 240px 0 60px;
    width: calc(100vw - 490px);
  }

  img {
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    max-width: 100%;
  }
}




