body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #2c3e50;

  &:hover {
    color: #1890ff;
  }
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 8px;
  background-color: rgb(180, 180, 180);
  transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}